<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Close To Me</h1>
    <p class="lead">Find what is close.</p>
    <div class="row col-lg-5">
      <ul >

          <li class="col l2 col-xs-3 landing-button"><%= link_to "Food",'food', class: "waves-effect waves-light btn orange  "%></li>
          <li class="col l3 col-xs-4 landing-button"><%= link_to "NightLife",'night', class: "waves-effect waves-light btn orange  "%></li>
          <li class="col l3 col-xs-3 landing-button"><%= link_to "Lodging",'lodging', class: "waves-effect waves-light btn orange "%></li>
          <li class="col l2 col-xs-3 landing-button"><%= link_to "Mall",'mall', class: "waves-effect waves-light btn orange"%></li>

      </ul>
    </div>

  </div>
</div>

<script>


$( document ).ready(function() {
  $(".landing-button").fadeOut(10);
  $(".landing-button").fadeIn(3000);


});



</script>
