<div class="preloader-background">
  <div class="preloader-wrapper big active">
   <div class="spinner-layer spinner-yellow-only">
     <div class="circle-clipper left">
       <div class="circle"></div>
     </div><div class="gap-patch">
       <div class="circle"></div>
     </div><div class="circle-clipper right">
       <div class="circle"></div>
     </div>
   </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">

    <div id="map-panel" class="col-lg-12 card-panel">

    </div>

  </div>


</div>

<div class="container">
  <div class="row" id="info-panel">
    <div class="col s12 m3">
          <div class="card" >
            <div class="card-image">
              <img src="" class="place-image">
            </div>
            <div class="card-content">
              <div >
                <p class="place-name"></p>
                <p class="place-rating"></p>
                <p class="place-pricelevel"></p>
              </div>

            </div>
            <div class="card-action" id="place-link">
              <a href="#" target="_blank" class="place-website">Home Page</a>
              <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
            </div>
          </div>
      </div>
      <div class="col s12 m3">
            <div class="card" >
              <div class="card-image">
                <img src="" class="place-image">
              </div>
              <div class="card-content">
                <div >
                  <p class="place-name"></p>
                  <p class="place-rating"></p>
                  <p class="place-pricelevel"></p>
                </div>

              </div>
              <div class="card-action" id="place-link">
                <a href="#" target="_blank" class="place-website">Home Page</a>
                <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
              </div>
            </div>
        </div>
        <div class="col s12 m3">
              <div class="card" >
                <div class="card-image">
                  <img src="" class="place-image">
                </div>
                <div class="card-content">
                  <div >
                    <p class="place-name"></p>
                    <p class="place-rating"></p>
                    <p class="place-pricelevel"></p>
                  </div>

                </div>
                <div class="card-action" id="place-link">
                  <a href="#" target="_blank" class="place-website">Home Page</a>
                  <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                </div>
              </div>
          </div>
          <div class="col s12 m3">
                <div class="card" >
                  <div class="card-image">
                    <img src="" class="place-image">
                  </div>
                  <div class="card-content">
                    <div >
                      <p class="place-name"></p>
                      <p class="place-rating"></p>
                      <p class="place-pricelevel"></p>
                    </div>

                  </div>
                  <div class="card-action" id="place-link">
                    <a href="#" target="_blank" class="place-website">Home Page</a>
                    <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                  </div>
                </div>
            </div>
            <div class="col s12 m3">
                  <div class="card" >
                    <div class="card-image">
                      <img src="" class="place-image">
                    </div>
                    <div class="card-content">
                      <div >
                        <p class="place-name"></p>
                        <p class="place-rating"></p>
                        <p class="place-pricelevel"></p>
                      </div>

                    </div>
                    <div class="card-action" id="place-link">
                      <a href="#" target="_blank" class="place-website">Home Page</a>
                      <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                    </div>
                  </div>
              </div>
              <div class="col s12 m3">
                    <div class="card" >
                      <div class="card-image">
                        <img src="" class="place-image">
                      </div>
                      <div class="card-content">
                        <div >
                          <p class="place-name"></p>
                          <p class="place-rating"></p>
                          <p class="place-pricelevel"></p>
                        </div>

                      </div>
                      <div class="card-action" id="place-link">
                        <a href="#" target="_blank" class="place-website">Home Page</a>
                        <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                      </div>
                    </div>
                </div>
                <div class="col s12 m3">
                      <div class="card" >
                        <div class="card-image">
                          <img src="" class="place-image">
                        </div>
                        <div class="card-content">
                          <div >
                            <p class="place-name"></p>
                            <p class="place-rating"></p>
                            <p class="place-pricelevel"></p>
                          </div>

                        </div>
                        <div class="card-action" id="place-link">
                          <a href="#" target="_blank" class="place-website">Home Page</a>
                          <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                        </div>
                      </div>
                  </div>
                  <div class="col s12 m3">
                        <div class="card" >
                          <div class="card-image">
                            <img src="" class="place-image">
                          </div>
                          <div class="card-content">
                            <div >
                              <p class="place-name"></p>
                              <p class="place-rating"></p>
                              <p class="place-pricelevel"></p>
                            </div>

                          </div>
                          <div class="card-action" id="place-link">
                            <a href="#" target="_blank" class="place-website">Home Page</a>
                            <a href="#" target="_blank" class="place-navigate waves-effect waves-light btn orange ">Navigate</a>
                          </div>
                        </div>
                    </div>






  </div>

</div>







<script>
// google map setup
      var options = [
         {selector: 'card', offset: 200, callback: '$(this).addClass("animated")' },
      ];
      Materialize.scrollFire(options);


      var map;
      var infowindow;
      var initialLocation;
      var currentLocation;
      var service;


      // create map based on user location
      function initMap() {
          initialLocation  = {lat: 40.7128, lng: -74.0059}; // new york
          map = new google.maps.Map(document.getElementById('map-panel'), {
          center: initialLocation,
          zoom: 13,
          styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]
        });
        infowindow = new google.maps.InfoWindow();
        $( "#info-panel" ).fadeOut( 100, function() {
        });
        //  $("#map-panel").fadeOut(100);


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(currentLocation);

                // create marker for current user location
                var userIcon = {
                  url: "<%= asset_url('icon.png')%>",
                  scaledSize: new google.maps.Size(25, 40)
                };
                var marker = new google.maps.Marker({
                  map: map,
                  position: currentLocation,
                  icon: userIcon,
                });

                service = new google.maps.places.PlacesService(map);
                service.nearbySearch({
                  location: currentLocation,
                  radius: 9000,
                  type: ['shopping_mall'],
                  opennow: true
                }, callback);


            });
        }
      }


      // create marker and write to info panel
      function callback(results, status) {

        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < 8; i++) { // originally results.length, limit number of results to 8
            createMarker(results[i]); // create marker for results



            var panel = document.getElementById("info-panel");
            panel.getElementsByClassName("place-name")[i].innerHTML = results[i].name;

            service.getDetails({
                placeId: results[i].place_id,
              }, function(place, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                  var panel = document.getElementById("info-panel");

                  for (var j = 0; j<8; j++){
                    if(panel.getElementsByClassName("place-name")[j].innerHTML == place.name){
                      panel.getElementsByClassName("place-rating")[j].innerHTML = "Rating: " + place.rating + "/5";

                      switch (place.price_level) {
                        case 0:
                          panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: Free";
                          break;
                        case 1:
                          panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: Inexpensive";
                          break;
                        case 2:
                          panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: Moderate";
                          break;
                        case 3:
                          panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: Expensive";
                          break;
                        case 4:
                          panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: Very Expensive";
                          break;


                      }
                      // panel.getElementsByClassName("place-pricelevel")[j].innerHTML = "Price: " +place.price_level;

                      panel.getElementsByClassName("place-navigate")[j].href = place.url;
                      panel.getElementsByClassName("place-website")[j].href = place.website;
                      break;
                    }
                  }


                }
              });

            //populate web content
            var panel = document.getElementById("info-panel");
            panel.getElementsByClassName("place-name")[i].innerHTML = results[i].name;
            // panel.getElementsByClassName("navigate")[i].innerHTML = results[i].name;
            var photos = results[i].photos;
            if (photos) {
               panel.getElementsByTagName("img")[i].src = photos[0].getUrl({'maxWidth': 250, 'maxHeight': 220});
             }
             // fadeIn after population done
             $("#info-panel").fadeIn(900);
              $(".preloader-background").remove();

            //  $("#map-panel").fadeIn(900);

          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;

        var placeIcon = {
          url: "<%= asset_url('place_icon.png')%>",
          scaledSize: new google.maps.Size(25, 40)
        };

        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          icon: placeIcon,
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }



</script>
