// Place all the styles related to the food controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#map-panel{
  height: 400px;
  position: absolute;
  right: 0;
  left: 0;


}

.container-fluid{
  height: 400px;

}


.container{
  margin-top: 50px;
}
.card{
  height: 400px;
}


img{
  max-height: 200px;
}
