<section id="secondary-banner" style="height: 100px;">
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
        <h4><%= yield(:title) %></h2>
        <h4><%= yield(:excerpt) %></h4>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><%= link_to "Home", root_url %></li>
          <li><%= yield(:title) %></li>
        </ul>
      </div>
    </div>
  </div> -->
</section>

<!-- for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class -->
