
<footer class="page-footer grey darken-4" >
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text">CloseToMe Project</h5>
           <p class="grey-text text-lighten-4">Thank you for taking a look at my work.</p>
           <p class="grey-text text-lighten-4">Always striving to build better websites.</p>
           <p class="grey-text text-lighten-4"> © 2016 Designed and Created by Xiaohan Chen</p>
         </div>

       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       © 2016 Designed and Created by Xiaohan Chen
       <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
       </div>
     </div>
   </footer>
